[submodule "third-party/tinyxml2"]
	path = third-party/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "third-party/Catch2"]
	path = third-party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third-party/jsoncpp"]
	path = third-party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
